* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2016%2F03%2F29%2F20%2F38%2Ftexture-1289288_960_720.jpg&f=1&nofb=1");
    background-repeat: no-repeat;
    background-size: cover;
    color: pink;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages-na.ssl-images-amazon.com%2Fimages%2FI%2F31MI-DVd-zL.png&f=1&nofb=1");
    background-position: center;
    background-repeat: no-repeat;

}

#box-passw {
    width: 226px;
    height: 226px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box-passw {
    animation-name: giro;
    animation-duration: 20s;

}

@keyframes giro {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#passw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.scritta {
    width: 100px;
    height: 50px;
    border: 1px solid black;
}

#banner {
    width: 140px;
    height: 70px;
    border: 4px solid pink;
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#banner.visible {
    visibility: visible;
}


#banner p {
    text-align: center;
    margin-top: 2px;
    color: pink;

}

#banner:hover {
    font-weight: bold;
}


#passw a {
    text-decoration: none;
    font-weight: bold;
    color: pink
}

#passw a:active {
    transform: scale(3);
}
